* {
    background-color: #fcc438;
}

.body{
    background-color: #fcc438;
}

.home-button{
border-radius: 12px;
font-size: 25px;
}

.log-out-button{
color: antiquewhite;
width: 100px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 12px;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    width: 20%;
    height: 50%;
    transform: rotate(-14deg) ;
    font-size: 100px;
}

.drop-down-space-wrapper{
    display: flex;
    justify-content: center;
}

.label{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: antiquewhite;
    font-weight: 500;
    border-radius: 100px;
}

.friend-select{
    background-color: antiquewhite;
    border-radius: 12px;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top:10px;
}

.start-game-button{
    background-color: tomato;
    padding-top: 25px;
    font-size: 20px;
    border-radius: 12px;
}

.start-game-button-wrapper{
    padding-top: 10px;
}

.input-text-box {
    /* width: 100%; */
    /* height: 50vw; */
    padding: 12px 20px;
    margin: 70px 0;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 20px;

}

.gif {
    background-image: url('../images/FICropped2Ispy-ClearBackgroundcopy.gif'); 
    justify-content: center;
    width: 110vw;
    height: 50vw;
    background-size: 60vw;
    background-repeat: no-repeat;
    background-position: center;
}