
.header{
    display:flex;
    justify-content: space-around;
    background-color: #3a599b;
    width: 100%;
    padding: 20px;
    margin-right: 20px;
}

.home-button {
    border: 2px solid black;
    color: black;
    background-color: antiquewhite;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 12px;
    font-size: 25px;
}

.home-button:hover {
    background-color: #D7C0A1;
  }

  .games-button {
    border: 2px solid black;
    color: black;
    background-color: antiquewhite;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 12px;
    font-size: 25px;
}

.games-button:hover {
    background-color: #D7C0A1;
  }

  .logout-button {
    border: 2px solid black;
    color: black;
    background-color: antiquewhite;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 12px;
    font-size: 25px;
}

.logout-button:hover {
    background-color: #D7C0A1;
  }